:root {
  --black: #000000;
  --gray-1100: #121212;
  --gray-1000: #2e2e2e;
  --gray-900: #404040;
  --gray-800: #595959;
  --gray-700: #707070;
  --gray-600: #9c9c9c;
  --gray-500: #b2b2b2;
  --gray-400: #cccccc;
  --gray-300: #dedede;
  --gray-200: #ededed;
  --gray-100: #f7f7f7;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", Arial, sans-serif;
  background-color: var(--white);
  color: var(--gray-1100);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: initial;
}

ul {
  list-style: none;
}
