.container {
  padding: 2rem 0;
  background-color: var(--gray-100);
  height: 100vh;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0 2rem;
  margin-bottom: 1.5rem;
}

.headerTitle {
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: var(--gray-1100);
}

.menuIcon {
  color: var(--gray-1100);
}

.newContactButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin: 0 2rem 2.5rem 2rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 58, 233, 0.2);

  font-size: 1.125rem;
  line-height: 1.5rem;
}

.newContactIcon {
  color: var(--gray-1100);
}

.navigationSection {
  margin-bottom: 2rem;
}

.sessionTitle {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5%;
  margin-bottom: 0.75rem;
  padding: 0 2rem;
}

.navigationItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 2rem;
}

.navigationItem:hover {
  background-color: rgba(0, 58, 233, 0.1);
}

.navigationIcon {
  display: flex;
  align-items: center;
  color: var(--gray-1100);
}

.navigationLink {
  font-size: 1rem;
  line-height: 1.5rem;
}
